.container {
  text-align: center;
  margin-top: 23px;
}

table {
  margin: auto;
}

input {
  border-radius: 20px;
  border: 5px solid #6e88de;
  font-size: 34px;
  height: 65px;
  width: 456px;
}

button {
  border-radius: 20px;
  font-size: 40px;
  background: #caafe8;
  width: 102px;
  height: 90px;
  margin: 6px;
}

.calculator {
  border: 4px solid #6582eb;
  background-color: #8b95f1;
  padding: 23px;
  border-radius: 20px;
  display: inline-block;
}

h1 {
  font-size: 28px;
  font-family: "Courier New", Courier, monospace;
  /* font-family: 'Barlow Condensed', sans-serif; */
}
